.button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 150px;
  height: 50px;
  font-size: 30px;
  display: block;
  cursor: pointer;
}

.button:focus {
  outline-color: greenyellow;
}

.user-info__button_edit {
  margin-top: 24px;
  border: 1px solid #fff;
  color: #fff;
  width: 38px;
  height: 18px;
  font-size: 12px;
}

.user-info__button_edit:hover {
  color: #000;
  background-color: #fff;
}